/*
 * Responsive support
 */

/* Sidebar Fixes */
.page-template-template-slideshow-php #sidebar {
    margin-top: 103px !important;
}

/* Overrides */
#fsi-full-bg {

}

.folioItem {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)" !important;
    filter: alpha(opacity=100) !important;
    opacity: 1 !important;
}

.topFooter_pro {
    height: 0 !important;
}

.portfolio.type-portfolio.status-publish.hentry.project {
    left: 0 !important;
}

.videoportfolio.type-videoportfolio.status-publish.hentry.project {
    left: 0 !important;
}

.openedP #portfolio, .openedP #portfolio {
    margin-top: 54px !important;
}

.openedP #projectHover {
    height: 200% !important;
    width: 100%;
    left: 0;
    position: absolute;
    top: 0px !important;
    z-index: 99998;
    background: url(images/preloader.gif) no-repeat center center #F1F0F0;
    background: url(images/preloader.gif) no-repeat center center rgba(255,255,255,.6);
    cursor: pointer;
}

.openedP + .footerhome {
    display: none;
}

.projects-table {
    overflow: hidden;
    padding: 0 0 10px;
    margin: 0;
}

.projects-table li {
    float: left;
    width: 20%;
    text-align: center;
}

.projects-table.duo li {
    float: left;
    width: 50%;
    text-align: center;
}

.projects-table.trio li {
    float: left;
    width: 33.333333333333333333333333333333%;
    text-align: center;
}

.projects-table.quad li {
    float: left;
    width: 25%;
    text-align: center;
}

.projects-table li strong {
    display: block;
    min-height: 35px;
    vertical-align: top;
}

.page .contentHolder img,
img[alt="client-list"] {
    max-width: 100%;
    height: auto;
}

.page-id-1766 #sidebar,
.page-id-37 #sidebar,
.page-id-1743 #sidebar,
.page-template-default #sidebar,
.page-template-walls_of_water_page-php #sidebar {
    top: 103px !important;
}

/* staff */
.inn_div {
    display:none;
}

.staff-member-bio p {
    line-height:15px;
}

.staff-member-bio {
    line-height:15px;
}

.bg_coler {
    background-image:url('../../plugins/simple-staff-list/_inc/img_und.png');
    display:block; position:absolute;
    background-repeat:no-repeat;
    line-height:0px;
    width:155px;
    font-size:9px;
    padding:54px;;
    color:#FFFFFF;
    margin-left:-39px;
    margin-top:-48px;
}

.bg_coler h3 {
    font-size:10px;
    line-height:0px;
    color:#FFFFFF;
}

.bg_coler h4 {
    font-size:10px;
    line-height:0px;
    color:#FFFFFF;
}

.staff-member-listing {
    height: auto !important;
}

.staff-member-photo {
    display:none !important;
}

.staff-member-email {
    color:#FFFFFF !important;
    margin-left:32px !important;
}

.staff-member-name {
    width:200px;
}

.staff-member-listing {
    margin: 60px auto 0 !important;
    display: block !important;
    width: 1230px;
}

.staff-member-position {
    width:200px !important;
}

.staff-member-photos {
    margin-bottom: -5px important;
}

.page-id-1743 #portfolioFilter {
   background: none !important;
}

.page-id-1743 #portfolioFilter p {
   width: 100%;
   position: static;
   text-align: center;
   padding: 20px 40px 0 !important;
   margin: 0 auto 0 !important;
   background: none !important;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

#portfolioFilter p {
    background:#000000!important;
    padding-left:20px!important;
    margin-left:0px!important;
    padding-bottom: 0 !important;
    background: none !important;
}

@media (max-width: 1320px) {
    .portfolio.type-portfolio.status-publish.hentry.project {
        margin-top: 30px !important;
    }

    .videoportfolio.type-videoportfolio.status-publish.hentry.project {
        margin-top: 30px !important;
    }

    #portfolio {
        margin-top: 29px !important;
    }

    .openedP #portfolio {
        margin-top: 98px !important;
    }

    #portfolioFilter p {
        width: 100%;
        display: block;
        text-align: center;
        padding: 0;
        margin: 19px 0 0;
    }

    #portfolioFilter form {
        float: none !important;
        padding: 0 0 0 20px !important;
        margin: 0 auto 0;
    }

    #portfolioFilter {
        border: none !important;
        text-align: center;
        padding-bottom: 10px;
        background: none;
    }

    /* staff */
    .inn_div {
        display:none;
    }

    .staff-member-bio p {
        line-height:15px;
    }

    .staff-member-bio {
        line-height:15px;
    }

    .bg_coler {
        background-image:url('../../plugins/simple-staff-list/_inc/img_und.png');
        display:block; position:absolute;
        background-repeat:no-repeat;
        line-height:0px;
        width:155px;
        font-size:9px;
        padding:54px;;
        color:#FFFFFF;
        margin-left:-39px;
        margin-top:-48px;
    }

    .bg_coler h3 {
        font-size:10px;
        line-height:0px;
        color:#FFFFFF;
    }

    .bg_coler h4 {
        font-size:10px;
        line-height:0px;
        color:#FFFFFF;
    }

    .staff-member-listing {
        height: auto !important;
    }

    .staff-member-photo {
        display:none !important;
    }

    .staff-member-email {
        color:#FFFFFF !important;
        margin-left:32px !important;
    }

    .staff-member-name {
        width:200px;
    }

    .staff-member-listing {
        margin: 70px auto 0 !important;
        display: block !important;
        width: 948px;
    }

    .staff-member-position {
        width:200px !important;
    }

    .staff-member-photos {
        margin-bottom: -5px important;
    }

    .page-id-1743 #portfolioFilter {
       background: none !important;
    }

    .page-id-1743 #portfolioFilter p {
       width: 100%;
       position: static;
       text-align: center;
       padding: 20px 40px 0 !important;
       margin: 0 auto 0 !important;
       background: none !important;
       -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
       box-sizing: border-box;
    }

    #portfolioFilter p {
        background:#000000!important;
        padding-left:20px!important;
        margin-left:0px!important;
        padding-bottom: 0 !important;
        background: none !important;
    }
}

@media (max-width: 1150px) {
    #portfolio {
        margin-top: 0px !important;
    }
}

@media (max-width: 1150px) {
    .portfolio.type-portfolio.status-publish.hentry.project {
        left: 0 !important;
        margin-top: 30px !important;
    }

    .videoportfolio.type-videoportfolio.status-publish.hentry.project {
        left: 0!important;
        margin-top: 30px;
    }

    .openedP #portfolio, .openedP #portfolio {
        margin-top: 98px !important;
    }

    #portfolioFilter p {
        width: 100%;
        display: block;
        text-align: center;
        padding: 0;
        margin: 12px 0 0;
    }

    #portfolioFilter {
        border: none !important;
        background: none !important;
    }

    /* staff */
    .inn_div {
        display:none;
    }

    .staff-member-bio p {
        line-height:15px;
    }

    .staff-member-bio {
        line-height:15px;
    }

    .bg_coler {
        background-image:url('../../plugins/simple-staff-list/_inc/img_und.png');
        display:block; position:absolute;
        background-repeat:no-repeat;
        line-height:0px;
        width:155px;
        font-size:9px;
        padding:54px;;
        color:#FFFFFF;
        margin-left:-39px;
        margin-top:-48px;
    }

    .bg_coler h3 {
        font-size:10px;
        line-height:0px;
        color:#FFFFFF;
    }

    .bg_coler h4 {
        font-size:10px;
        line-height:0px;
        color:#FFFFFF;
    }

    .staff-member-listing {
        height: auto !important;
    }

    .staff-member-photo {
        display:none !important;
    }

    .staff-member-email {
        color:#FFFFFF !important;
        margin-left:32px !important;
    }

    .staff-member-name {
        width:200px;
    }

    .staff-member-listing {
        margin: 94px auto 0 !important;
        display: block !important;
        width: 782px;
    }

    .staff-member-position {
        width:200px !important;
    }

    .staff-member-photos {
        margin-bottom: -5px important;
    }

    .page-id-1743 #portfolioFilter {
       background: none !important;
    }

    .page-id-1743 #portfolioFilter p {
       width: 100%;
       position: static;
       text-align: center;
       padding: 20px 40px 0 !important;
       margin: 0 auto 0 !important;
       background: none !important;
       -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
       box-sizing: border-box;
    }

    #portfolioFilter p {
        background:#000000!important;
        padding-left:20px!important;
        margin-left:0px!important;
        padding-bottom: 0 !important;
        background: none !important;
    }
}

/* ipad landscape */
@media (max-width: 1024px) {
    .portfolio.type-portfolio.status-publish.hentry.project {
        margin-top: 30px !important;
        left: 0 !important;
    }

    .videoportfolio.type-videoportfolio.status-publish.hentry.project {
        margin-top: 30px !important;
    }

    #portfolio {
        margin-top: 0px !important;
    }

    .openedP #portfolio {
        margin-top: 98px !important;
    }

    #portfolioFilter p {
        width: 100%;
        display: block;
        text-align: center;
        padding: 0 !important;
        margin: 16px 0 0;
        background: none;
    }

    #portfolioFilter form {
        float: none !important;
        padding: 0 0 0 20px !important;
        margin: 0 auto 0;
    }

    #portfolioFilter {
        border: none !important;
        text-align: center;
        background: none !important;
    }
}

@media (max-width: 1024px) {
    /* staff */
    .inn_div {
        display:none;
    }

    .staff-member-bio p {
        line-height:15px;
    }

    .staff-member-bio {
        line-height:15px;
    }

    .bg_coler {
        background-image:url('../../plugins/simple-staff-list/_inc/img_und.png');
        display:block; position:absolute;
        background-repeat:no-repeat;
        line-height:0px;
        width:155px;
        font-size:9px;
        padding:54px;;
        color:#FFFFFF;
        margin-left:-39px;
        margin-top:-48px;
    }

    .bg_coler h3 {
        font-size:10px;
        line-height:0px;
        color:#FFFFFF;
    }

    .bg_coler h4 {
        font-size:10px;
        line-height:0px;
        color:#FFFFFF;
    }

    .staff-member-listing {
        height: auto !important;
    }

    .staff-member-photo {
        display:none !important;
    }

    .staff-member-email {
        color:#FFFFFF !important;
        margin-left:32px !important;
    }

    .staff-member-name {
        width:200px;
    }

    .staff-member-listing {
        margin: 95px auto 0 !important;
        display: block !important;
        width: 782px !important;
    }

    .staff-member-position {
        width:200px !important;
    }

    .staff-member-photos {
        margin-bottom: -5px important;
    }

    .page-id-1743 #portfolioFilter {
       background: none !important;
    }

    .page-id-1743 #portfolioFilter p {
       width: 100%;
       position: static;
       text-align: center;
       padding: 20px 40px 0 !important;
       margin: 0 auto 0 !important;
       background: none !important;
       -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
       box-sizing: border-box;
    }

    #portfolioFilter p {
        background:#000000!important;
        padding-left:20px!important;
        margin-left:0px!important;
        padding-bottom: 0 !important;
        background: none !important;
    }
}


@media (max-width: 865px) {
    .projects-table {
        overflow: hidden;
        padding: 10 0 10px;
        margin: 0;
    }

    .projects-table li {
        float: left;
        width: 30%;
        text-align: center;
        padding-top: 20px;
    }

    .projects-table.duo li {
        float: left;
        width: 100%;
        text-align: center;
    }

    .projects-table li strong {
        display: block
    }
}

/* portrait view */
@media (max-width: 980px) {
   .footerSep > span {
        width: auto !important;
        max-width: 350px !important;
        overflow: hidden !important;
        white-space: nowrap !important;
        text-overflow: ellipsis !important;
        display: inline-block !important;
    }

    /* staff */
    .inn_div {
        display:none;
    }

    .staff-member-bio p {
        line-height:15px;
    }

    .staff-member-bio {
        line-height:15px;
    }

    .bg_coler {
        background-image:url('../../plugins/simple-staff-list/_inc/img_und.png');
        display:block; position:absolute;
        background-repeat:no-repeat;
        line-height:0px;
        width:155px;
        font-size:9px;
        padding:54px;;
        color:#FFFFFF;
        margin-left:-39px;
        margin-top:-48px;
    }

    .bg_coler h3 {
        font-size:10px;
        line-height:0px;
        color:#FFFFFF;
    }

    .bg_coler h4 {
        font-size:10px;
        line-height:0px;
        color:#FFFFFF;
    }

    .staff-member-photo {
        display:none !important;
    }

    .staff-member-email {
        color:#FFFFFF !important;
        margin-left:32px !important;
    }

    .staff-member-name {
        width:200px;
    }

    .staff-member-listing {
        margin: 0 auto 0 !important;
        margin-top: 111px !important;
        display: block !important;
        width: 620px !important;
    }

    .staff-member-position {
        width:200px !important;
    }

    .staff-member-photos {
        margin-bottom: -5px important;
    }

    .page-id-1743 #portfolioFilter {
       background: none !important;
    }

    .page-id-1743 #portfolioFilter p {
       display: block;
       width: 100%;
       clear: both;
       position: static !important;
       text-align: center;
       padding: 20px 40px 0 !important;
       margin: 0 auto 0 !important;
       background: none !important;
       -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
       box-sizing: border-box;
    }

    #portfolioFilter p {
        background:#000000!important;
        padding-left:20px!important;
        margin-left:0px!important;
        padding-bottom: 0 !important;
        background: none !important;
    }

    .page-id-1743 #content > div {
       padding: 116px 50px;
       margin-left:0;
    }
}

/* ipad portrait */
@media (max-width: 768px) {
    .portfolio.type-portfolio.status-publish.hentry.project {
        left: 50% !important;
        margin-top: 30px !important;
    }

    .videoportfolio.type-videoportfolio.status-publish.hentry.project {
        left: 50% !important;
        margin-top: 30px;
    }

    .openedP #portfolio {
        margin-top: 98px !important;
    }

    #portfolioFilter p {
        width: 100%;
        display: block;
        text-align: center;
        padding: 0;
        margin: 20px 0 0;
    }

    #portfolioFilter {
        border: none !important;
    }
}

@media (max-width: 769px) {
    /* staff */
    .inn_div {
        display:none;
    }

    .staff-member-bio p {
        line-height:15px;
    }

    .staff-member-bio {
        line-height:15px;
    }

    .bg_coler {
        background-image:url('../../plugins/simple-staff-list/_inc/img_und.png');
        display:block; position:absolute;
        background-repeat:no-repeat;
        line-height:0px;
        width:155px;
        font-size:9px;
        padding:54px;;
        color:#FFFFFF;
        margin-left:-39px;
        margin-top:-48px;
    }

    .bg_coler h3 {
        font-size:10px;
        line-height:0px;
        color:#FFFFFF;
    }

    .bg_coler h4 {
        font-size:10px;
        line-height:0px;
        color:#FFFFFF;
    }

    .staff-member-listing {
        height: auto !important;
    }

    .staff-member-photo {
        display:none !important;
    }

    .staff-member-email {
        color:#FFFFFF !important;
        margin-left:32px !important;
    }

    .staff-member-name {
        width:200px;
    }

    .staff-member-listing {
        margin: 104px auto 0 !important;
        display: block !important;
        width: 600px !important;
    }

    .staff-member-position {
        width:200px !important;
    }

    .staff-member-photos {
        margin-bottom: -5px important;
    }

    .page-id-1743 #portfolioFilter {
       background: none !important;
    }

    .page-id-1743 #portfolioFilter p {
       width: 100%;
       position: static;
       text-align: center;
       padding: 20px 40px 0 !important;
       margin: 0 auto 0 !important;
       background: none !important;
       -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
       box-sizing: border-box;
    }

    #portfolioFilter p {
        background:#000000!important;
        padding-left:20px!important;
        margin-left:0px!important;
        padding-bottom: 0 !important;
        background: none !important;
    }
}

@media (max-width: 767px) {
    body {
        background: #222 !important;
    }

    #topFooter {
        background: #000;
        height: auto;
    }

    #topFooter .footerSep {
        bottom: auto;
        height: auto;
        padding: 10px 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
        filter: alpha(opacity=80);
        opacity: 0.8;
        color: #ccc;
        background-image: url('images/fstep.png') repeat-x;
        line-height: 27px;
    }

    .Dark #sidebar {
        margin-top: 0 !important;
        background: url(img/bluworld-logo.jpg) 10% center no-repeat #000;
        height: 110px;
        border-bottom: none;
    }

    #nav_menu-2 {
        display: none;
    }

    .page-template-template-slideshow-php #sidebar {
        margin-top: 0 !important;
    }

    .Dark #sidebar {
        background: url(img/bluworld-logo.jpg) 10% center no-repeat #000;
        height: 110px;
        margin-left: 0 !important;
        top: 0 !important;
    }

    #topFooter {
        z-index: 999999;
        background: transparent !important;
    }

    .footerSep-top {
        background: transparent !important;
    }

    .support-phone {
        color: #fff;
        font-weight: bold;
        position: absolute;
        right: 2%;
        top: -14px;
        z-index: 9999;
    }

    .select-replace-cover {
        top: 5px !important;
    }

    .page-template.page-template-template-slideshow-php .galleryContent {
        overflow: visible;
    }

    .page-template.page-template-template-slideshow-php .galleryContent header {
        top: -121px !important;
        z-index: 999999 !important;
        width: 280px;
    }

    .socialSpace {
        background: none repeat scroll 0 0 #303030;
        height: 40px;
        padding: 0 30px;
        margin: 0 -30px 0;
        position: relative;
        opacity: 0.83;
        width: 100%;
    }

    .page-template.page-template-walls_of_water_page-php #content {
        margin-top: 30px;
    }

    .page-template.page-template-product_sample-php .folioGrid {
        margin-top: 35px;
    }

    .page-template.page-template-template-slideshow-php #bottomFooter {
        height: 90px;
        padding-top: 0;
        position: absolute !important;
        bottom: 50px !important;
    }

    .page-id-43.page-template-template-contact-php #content > div {
        float: none;
        padding: 0;
        margin: 0;
        font-size: 0.8em !important;
    }

    .page-id-43 #contactDetails {
        width: 260px !important;
        margin: 120px auto 130px !important;
        padding-bottom: 10px;
    }

    .page-id-43 #contactDetails .wpcf7-list-item {
        width: 120px !important;
        display: inline-block;
        text-align: left;
        float: left;
    }

    #topFooter {
        padding-bottom: 0 !important;
        top: 88px !important;
    }

    #content > div {
        padding: 65px 49px;
        margin-left: 280px;
    }

    .page-id-1745 #page {
        margin: 0 auto 55px;
        font-size: 13px;
        text-align: left !important;
    }

    .page-id-1745 #page center {
        text-align: left;
    }

    .portfolio.type-portfolio.status-publish.hentry.project {
        margin-top: 133px !important;
        left: 3% !important;
    }

    .videoportfolio.type-videoportfolio.status-publish.hentry.project {
        margin-top: 133px !important;
        left: 3% !important;
    }

    #portfolio {
        margin-top: 53px !important;
    }

    .openedP #portfolio {
        margin-top: 148px !important;
    }

    #portfolioFilter p {
        background: none;
        width: 100%;
        display: block;
        text-align: center;
        padding: 0 0 10px;
        margin: 15px 0 0;
        font-size: 12px;
    }

    #portfolioFilter form {
        float: none !important;
        padding: 0 0 0 20px !important;
        margin: 0 auto 0;
    }

    #portfolioFilter {
        border: none !important;
        text-align: center;
        margin-top: 7px;
        background: none;
    }

    .projects-table {
        overflow: hidden;
        padding: 0 0 10px;
        margin: 0;
    }

    .projects-table li {
        float: left;
        width: 50%;
        text-align: center;
    }

    .projects-table.duo li {
        float: left;
        width: 100%;
        text-align: center;
    }

    .projects-table.trio li {
        float: left;
        width: 100%;
        text-align: center;
    }

    .projects-table.quad li {
        float: left;
        width: 100%;
        text-align: center;
    }

    .projects-table li strong {
        display: block
    }

    .shortContent {
      display: block !important;
      width: 240px;
      position: relative !important;
      top: -120px !important;
      height: 160px !important;
    }

    #responsiveMenu {
      display:block;
      top: 31px;
      position: absolute;
      right: 21px;
    }

    .select-replace-cover {
        width: 164px !important;
    }

    #gallery {
        height: auto !important;
        padding-bottom: 281px !important;
        position: relative !important;
        top: 0 !important;
        margin-left: auto !important;
        margin-top: auto !important;
        margin-right: auto !important;
    }

    /* staff */
    .inn_div {
        display:none;
    }

    .staff-member-bio p {
        line-height:15px;
    }

    .staff-member-bio {
        line-height:15px;
    }

    .bg_coler {
        background-image:url('../../plugins/simple-staff-list/_inc/img_und.png');
        display:block; position:absolute;
        background-repeat:no-repeat;
        line-height:0px;
        width:155px;
        font-size:9px;
        padding:54px;;
        color:#FFFFFF;
        margin-left:-39px;
        margin-top:-48px;
    }

    .bg_coler h3 {
        font-size:10px;
        line-height:0px;
        color:#FFFFFF;
    }

    .bg_coler h4 {
        font-size:10px;
        line-height:0px;
        color:#FFFFFF;
    }

    .staff-member-listing {
        height: auto !important;
    }

    .staff-member-photo {
        display:none !important;
    }

    .staff-member-email {
        color:#FFFFFF !important;
        margin-left:32px !important;
    }

    .staff-member-name {
        width:200px;
    }

    .staff-member-listing {
        margin: 122px auto 0 !important;
        display: block !important;
        width: 483px !important;
    }

    .staff-member-position {
        width:200px !important;
    }

    .staff-member-photos {
        margin-bottom: -5px important;
    }

    .page-id-1743 #portfolioFilter {
       background: none !important;
    }

    .page-id-1743 #portfolioFilter p {
       width: 100%;
       position: static;
       text-align: center;
       padding: 20px 40px 0 !important;
       margin: 0 auto 0 !important;
       background: none !important;
       -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
       box-sizing: border-box;
    }

    #portfolioFilter p {
        background:#000000!important;
        padding-left:20px!important;
        margin-left:0px!important;
        padding-bottom: 0 !important;
        background: none !important;
    }
}

/* extras */
@media (max-width: 640px) {
    body {
        background: #222 !important;
    }

    .select-replace-cover {
        top: -5px !important;
    }

    .portfolio.type-portfolio.status-publish.hentry.project {
        margin-top: 130px !important;
    }

    .videoportfolio.type-videoportfolio.status-publish.hentry.project {
        margin-top: 130px !important;
    }

    #portfolio {
        margin-top: 39px !important;
    }

    .openedP #portfolio {
        margin-top: 155px !important;
    }

    #portfolioFilter p {
        background: none;
        width: 100%;
        display: block;
        text-align: center;
        padding: 0;
        margin: 50px 0 10px;
    }

    #portfolioFilter form {
        float: none !important;
        padding: 0 0 0 20px !important;
        margin: 0 auto 0;
    }

    #portfolioFilter {
        border: none !important;
        text-align: center;
        margin-top: 7px;
        background: none;
    }

    #gallery {
        height: auto !important;
        padding-bottom: 281px !important;
        position: relative !important;
        top: -79px !important;
        margin-left: auto !important;
        margin-top: auto !important;
        margin-right: auto !important;
    }

    /* staff */
    .inn_div {
        display:none;
    }

    .staff-member-bio p {
        line-height:15px;
    }

    .staff-member-bio {
        line-height:15px;
    }

    .bg_coler {
        background-image:url('../../plugins/simple-staff-list/_inc/img_und.png');
        display:block; position:absolute;
        background-repeat:no-repeat;
        line-height:0px;
        width:155px;
        font-size:9px;
        padding:54px;;
        color:#FFFFFF;
        margin-left:-39px;
        margin-top:-48px;
    }

    .bg_coler h3 {
        font-size:10px;
        line-height:0px;
        color:#FFFFFF;
    }

    .bg_coler h4 {
        font-size:10px;
        line-height:0px;
        color:#FFFFFF;
    }

    .staff-member-listing {
        height: auto !important;
    }

    .staff-member-photo {
        display:none !important;
    }

    .staff-member-email {
        color:#FFFFFF !important;
        margin-left:32px !important;
    }

    .staff-member-name {
        width:200px;
    }

    .staff-member-listing {
        margin: 245px auto 0 !important;
        display: block !important;
        width: 323px !important;
    }

    .staff-member-position {
        width:200px !important;
    }

    .staff-member-photos {
        margin-bottom: -5px important;
    }

    .page-id-1743 #portfolioFilter {
       background: none !important;
    }

    .page-id-1743 #portfolioFilter p {
       width: 100%;
       position: static;
       text-align: center;
       padding: 41px 40px 0 !important;
       margin: 0 auto 0 !important;
       background: none !important;
       -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
       box-sizing: border-box;
    }

    #portfolioFilter p {
        background:#000000!important;
        padding-left:20px!important;
        margin-left:0px!important;
        padding-bottom: 0 !important;
        background: none !important;
    }
}

@media (max-width: 568px) {
    body {
        background: #222 !important;
    }

    .folioGrid span img {
        width: 100%;
        height: auto;
    }

    .portfolio.type-portfolio.status-publish.hentry.project {
        margin-top: 133px !important;
        left: 0 !important
    }

    .videoportfolio.type-videoportfolio.status-publish.hentry.project {
        margin-top: 133px !important;
        left: 0 !important
    }

    #portfolio {
        margin-top: 36px !important;
    }

    .openedP #portfolio {
        margin-top: 158px !important;
    }

    #portfolioFilter p {
        width: 100%;
        display: block;
        text-align: center;
        padding: 0;
        margin: 15px 0 0;
    }

    #portfolioFilter form {
        float: none !important;
        padding: 0 0 0 20px !important;
        margin: 0 auto 0;
    }

    #portfolioFilter {
        border: none !important;
        text-align: center;
        top: 60px;
    }

    #gallery {
        height: auto !important;
        padding-bottom: 281px !important;
        position: relative !important;
        top: -50px !important;
        margin-left: auto !important;
        margin-top: auto !important;
        margin-right: auto !important;
        overflow: visible !important;
    }

    /* staff */
    .inn_div {
        display:none;
    }

    .staff-member-bio p {
        line-height:15px;
    }

    .staff-member-bio {
        line-height:15px;
    }

    .bg_coler {
        background-image:url('../../plugins/simple-staff-list/_inc/img_und.png');
        display:block; position:absolute;
        background-repeat:no-repeat;
        line-height:0px;
        width:155px;
        font-size:9px;
        padding:54px;;
        color:#FFFFFF;
        margin-left:-39px;
        margin-top:-48px;
    }

    .bg_coler h3 {
        font-size:10px;
        line-height:0px;
        color:#FFFFFF;
    }

    .bg_coler h4 {
        font-size:10px;
        line-height:0px;
        color:#FFFFFF;
    }

    .staff-member-listing {
        height:auto !important;
        position: static;
        margin-bottom:55px;
        left: auto;
    }

    .staff-member-photo {
        display:none !important;
    }

    .staff-member-email {
        color:#FFFFFF !important;
        margin-left:32px !important;
    }

    .staff-member-name {
        width:200px;
    }

    .staff-member-listing {
        margin-top: 172px !important;
    }

    .staff-member-position {
        width:200px !important;
    }

    #portfolioFilter p {
        background:#000000!important;
        padding-left:20px!important;
        margin-left:0px!important;
        padding-bottom: 0 !important;
        background: none !important;
    }

    .staff-member-photos {
        margin-bottom: -5px important;
    }

    .page-id-1743 #portfolioFilter {
       background: none !important;
    }

    .page-id-1743 #portfolioFilter p {
       width: 100%;
       position: static;
       text-align: center;
       padding: 20px 10px 0 !important;
       margin: 0 0 0 0 !important;
       background: none !important;
       -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
       box-sizing: border-box;
    }
}

@media (max-width: 480px) {
    body {
        background: #222 !important;
    }

    .page-template-template-slideshow-php #sidebar {
       margin-top: 0 !important;
    }

    .Dark #sidebar {
        background: url(img/bluworld-logo.jpg) 10% center no-repeat #000;
        height: 110px;
        margin-left: 0 !important;
    }

    #topFooter {
        z-index: 999999;
        background: transparent !important;
    }

    .footerSep-top {
        background: transparent !important;
    }

    .support-phone {
        color: #fff;
        font-weight: bold;
        position: absolute;
        right: 2%;
        top: -14px;
        z-index: 9999;
    }

    #responsiveMenu {
        top: 30px !important;
    }

    .select-replace-cover {
        top: 0px !important;
    }

    .page-template.page-template-template-slideshow-php .galleryContent {
        overflow: visible;
    }

    .page-template.page-template-template-slideshow-php .galleryContent header {
        top: -120px !important;
        z-index: 999999 !important;
    }

    #homeFooter {
        position: absolute !important;
        bottom: 45px !important;
    }

    .socialSpace {
        background: none repeat scroll 0 0 #303030;
        height: 40px;
        padding: 0 30px;
        margin: 0 -30px 0;
        position: relative;
        opacity: 0.83;
        width: 100%;
    }

    .page-template.page-template-walls_of_water_page-php #content {
        margin-top: 30px;
    }

    .page-template.page-template-product_sample-php .folioGrid {
        margin-top: 35px;
    }

    .page-template.page-template-template-slideshow-php #bottomFooter {
        height: 90px;
        padding-top: 0;
        position: absolute !important;
        bottom: 50px !important;
    }

    .page-template.page-template-template-portfolio-php #content,
    .page-template.page-template-template-videoportfolio-php #content{
        top: 180px !important;
    }

    .page-id-43.page-template-template-contact-php #content > div {
        float: none;
        padding: 0;
        margin: 0;
        font-size: 0.8em !important;
    }

    .page-id-43 #contactDetails {
        width: 260px !important;
        margin: 120px auto 130px !important;
        padding-bottom: 10px;
    }

    .page-id-43 #contactDetails .wpcf7-list-item {
        width: 120px !important;
        display: inline-block;
        text-align: left;
        float: left;
    }

    .page-id-1745 #page {
        margin: 0 auto 55px;
        font-size: 12px;
        text-align: left !important;
    }

    .page-id-1745 #page center {
        text-align: left;
    }

    .portfolio.type-portfolio.status-publish.hentry.project {
        margin-top: 30px !important;
    }

    .videoportfolio.type-videoportfolio.status-publish.hentry.project {
        margin-top: 30px !important;
    }

    #portfolio {
        margin-top: 0px !important;
    }

    .openedP #portfolio {
        margin-top: 98px !important;
    }

    #portfolioFilter p {
        width: 100%;
        display: block;
        text-align: center;
        padding: 0;
        margin: 15px 0 0;
    }

    #portfolioFilter form {
        float: none !important;
        padding: 0 0 0 20px !important;
        margin: 0 auto 0;
    }

    #portfolioFilter {
        border: none !important;
        text-align: center;
    }

    .portfolio.type-portfolio.status-publish.hentry.project {
        margin-top: 30px !important;
    }

    .videoportfolio.type-videoportfolio.status-publish.hentry.project {
        margin-top: 30px !important;
    }

    #portfolio {
        margin-top: 15px !important;
        top: 100px !important;
    }

    .openedP #portfolio {
        margin-top: 32px !important;
    }

    #portfolioFilter p {
        width: 100%;
        display: block;
        text-align: center;
        padding: 0;
        margin: 0 0 10px;
    }

    .page-id-1743 #portfolioFilter p {
        width: 100%;
        position: static;
        text-align: center;
        padding: 0 !important;
        margin: 0 !important;
        background: none !important;
    }

    #portfolioFilter form {
        float: none !important;
        padding:  0 !important;
        margin: 0 auto 0;
    }

    #portfolioFilter {
        border: none !important;
        text-align: center;
        margin-top: 41px;
    }

    .projects-table {
        overflow: hidden;
        padding: 0 0 10px;
        margin: 0;
    }

    .projects-table li:first-child {
        padding-top: 0;
    }

    .projects-table li {
        float: left;
        width: 100%;
        text-align: center;
        padding-top: 40px;
    }

    .projects-table li strong {
        display: block
    }

    #gallery {
        height: auto !important;
        padding-bottom: 281px !important;
        position: static !important;
        top: auto !important;
        margin-left: auto !important;
        margin-top: auto !important;
        margin-right: auto !important;
    }

    /* staff */
    .inn_div {
        display:none;
    }

    .staff-member-bio p {
        line-height:15px;
    }

    .staff-member-bio {
        line-height:15px;
    }

    .bg_coler {
        background-image:url('../../plugins/simple-staff-list/_inc/img_und.png');
        display:block; position:absolute;
        background-repeat:no-repeat;
        line-height:0px;
        width:155px;
        font-size:9px;
        padding:54px;;
        color:#FFFFFF;
        margin-left:-39px;
        margin-top:-48px;
    }

    .bg_coler h3 {
        font-size:10px;
        line-height:0px;
        color:#FFFFFF;
    }

    .bg_coler h4 {
        font-size:10px;
        line-height:0px;
        color:#FFFFFF;
    }

    .staff-member-listing {
        height: auto !important;
    }

    .staff-member-photo {
        display:none !important;
    }

    .staff-member-email {
        color:#FFFFFF !important;
        margin-left:32px !important;
    }

    .staff-member-name {
        width:200px;
    }

    .staff-member-listing {
        margin: 200px auto 0 !important;
        display: block !important;
        width: 182px !important;
        clear: both;
    }

    .staff-member-position {
        width:200px !important;
    }

    .staff-member-photos {
        margin-bottom: -5px important;
    }

    .page-id-1743 #portfolioFilter {
       background: none !important;
    }

    .page-id-1743 #portfolioFilter p {
       width: 100%;
       position: static;
       text-align: center;
       padding: 10px 40px 0 !important;
       margin: 0 auto 0 !important;
       background: none !important;
       -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
       box-sizing: border-box;
    }

    #portfolioFilter p {
        background:#000000!important;
        padding-left:20px!important;
        margin-left:0px!important;
        padding-bottom: 0 !important;
        background: none !important;
    }
}

@media (max-width: 380px) {
    /* staff */
    .inn_div {
        display:none;
    }

    .staff-member-bio p {
        line-height:15px;
    }

    .staff-member-bio {
        line-height:15px;
    }

    .bg_coler {
        background-image:url('../../plugins/simple-staff-list/_inc/img_und.png');
        display:block; position:absolute;
        background-repeat:no-repeat;
        line-height:0px;
        width:155px;
        font-size:9px;
        padding:54px;;
        color:#FFFFFF;
        margin-left:-39px;
        margin-top:-48px;
    }

    .bg_coler h3 {
        font-size:10px;
        line-height:0px;
        color:#FFFFFF;
    }

    .bg_coler h4 {
        font-size:10px;
        line-height:0px;
        color:#FFFFFF;
    }

    .staff-member-listing {
        height: auto !important;
    }

    .staff-member-photo {
        display:none !important;
    }

    .staff-member-email {
        color:#FFFFFF !important;
        margin-left:32px !important;
    }

    .staff-member-name {
        width:200px;
    }

    .staff-member-listing {
        margin: 220px auto 0 !important;
        display: block !important;
        width: 182px !important;
        clear: both;
    }

    .staff-member-position {
        width:200px !important;
    }

    .staff-member-photos {
        margin-bottom: -5px important;
    }

    .page-id-1743 #portfolioFilter {
       background: none !important;
    }

    .page-id-1743 #portfolioFilter p {
       width: 100%;
       position: static;
       text-align: center;
       padding: 10px 40px 0 !important;
       margin: 0 auto 0 !important;
       background: none !important;
       -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
       box-sizing: border-box;
    }

    #portfolioFilter p {
        background:#000000!important;
        padding-left:20px!important;
        margin-left:0px!important;
        padding-bottom: 0 !important;
        background: none !important;
    }
}

@media (max-width: 360px) {
    body {
        background: #222 !important;
    }

    .page-template-template-slideshow-php #sidebar {
       margin-top: 0 !important;
    }

    .Dark #sidebar {
        background: url(img/bluworld-logo.jpg) 10% center no-repeat #000;
        height: 110px;
        margin-left: 0 !important;
    }

    #topFooter {
        z-index: 999999;
        background: transparent !important;
    }

    .footerSep-top {
        background: transparent !important;
    }

    .support-phone {
        color: #fff;
        font-weight: bold;
        position: absolute;
        right: 2%;
        top: -14px;
        z-index: 9999;
        font-size: 12px;
    }

    #responsiveMenu {
        top: 30px !important;
    }

    .select-replace-cover {
        top: 5px !important;
        width: 164px !important;
    }

    .page-template.page-template-template-slideshow-php .galleryContent {
        overflow: visible;
    }

    .page-template.page-template-template-slideshow-php .galleryContent header {
        top: -120px !important;
        z-index: 999999 !important;
    }

    #homeFooter {
        position: absolute !important;
        bottom: 50px !important;
    }

    .page-template-template-slideshow-php #homeFooter {
        position: absolute !important;
        bottom: 77px !important;
    }

    .page-template.page-template-template-slideshow-php #bottomFooter {
        height: 90px;
        padding-top: 0;
        position: absolute !important;
        bottom: 77px !important;
    }

    .socialSpace {
        background: none repeat scroll 0 0 #303030;
        height: 40px;
        padding: 0 30px;
        margin: 0 -30px 0;
        position: relative;
        opacity: 0.83;
        width: 100%;
    }

    .menu-footer-menu-container a {
        font-size: 10px !important;
    }

    .page-template.page-template-walls_of_water_page-php #content {
        margin-top: 0px;
    }

    .page-template.page-template-product_sample-php .folioGrid {
        margin-top: 35px;
    }

    .page-id-43.page-template-template-contact-php #content > div {
        float: none;
        padding: 0;
        margin: 0;
        font-size: 0.8em !important;
    }

    .page-id-43 #contactDetails {
        width: 260px !important;
        margin: 90px auto 130px !important;
        padding-bottom: 10px;
    }

    .page-id-43 #contactDetails .wpcf7-list-item {
        width: 120px !important;
        display: inline-block;
        text-align: left;
        float: left;
    }

    .page-id-1745 #page {
        margin: 0 auto 55px;
        font-size: 11px;
        text-align: left !important;
    }

    .page-id-1745 #page center {
        text-align: left;
    }

    /* staff */
    .inn_div {
        display:none;
    }

    .staff-member-bio p {
        line-height:15px;
    }

    .staff-member-bio {
        line-height:15px;
    }

    .bg_coler {
        background-image:url('../../plugins/simple-staff-list/_inc/img_und.png');
        display:block; position:absolute;
        background-repeat:no-repeat;
        line-height:0px;
        width:155px;
        font-size:9px;
        padding:54px;;
        color:#FFFFFF;
        margin-left:-39px;
        margin-top:-48px;
    }

    .bg_coler h3 {
        font-size:10px;
        line-height:0px;
        color:#FFFFFF;
    }

    .bg_coler h4 {
        font-size:10px;
        line-height:0px;
        color:#FFFFFF;
    }

    .staff-member-listing {
        height: auto !important;
    }

    .staff-member-photo {
        display:none !important;
    }

    .staff-member-email {
        color:#FFFFFF !important;
        margin-left:32px !important;
    }

    .staff-member-name {
        width:200px;
    }

    .staff-member-listing {
        margin: 158px auto 0 !important;
        display: block !important;
        width: 182px !important;
        clear: both;
    }

    .staff-member-position {
        width:200px !important;
    }

    .staff-member-photos {
        margin-bottom: -5px important;
    }

    .page-id-1743 #portfolioFilter {
       background: none !important;
    }

    .page-id-1743 #portfolioFilter p {
       width: 100%;
       position: static;
       text-align: center;
       padding: 10px 40px 0 !important;
       margin: 0 auto 0 !important;
       background: none !important;
       -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
       box-sizing: border-box;
    }

    #portfolioFilter p {
        background:#000000!important;
        padding-left:20px!important;
        margin-left:0px!important;
        padding-bottom: 0 !important;
        background: none !important;
    }
}

@media (width: 360px) {
    .page-template-template-slideshow-php #homeFooter {
        position: absolute !important;
        bottom: 50px !important;
    }

    .page-id-43.page-template-template-contact-php #content > div {
        float: none;
        padding: 0;
        margin: 0;
        font-size: 0.8em !important;
    }

    .page-id-43 #contactDetails {
        width: 260px !important;
        margin: 120px auto 130px !important;
        padding-bottom: 10px;
    }

    .page-id-43 #contactDetails .wpcf7-list-item {
        width: 120px !important;
        display: inline-block;
        text-align: left;
        float: left;
    }

    .portfolio.type-portfolio.status-publish.hentry.project {
        margin-top: 30px !important;
    }

    .videoportfolio.type-videoportfolio.status-publish.hentry.project {
        margin-top: 30px !important;
    }

    #portfolio {
        margin-top: 28px !important;
    }

    .openedP #portfolio {
        margin-top: 98px !important;
    }

    #portfolioFilter p {
        width: 100%;
        display: block;
        text-align: center;
        padding: 0;
        margin: 15px 0 0;
    }

    #portfolioFilter form {
        float: none !important;
        padding: 0 0 0 20px !important;
        margin: 0 auto 0;
    }

    #portfolioFilter {
        border: none !important;
        text-align: center;
    }

    #gallery {
        height: auto !important;
        padding-bottom: 281px !important;
        position: relative !important;
        top: -19px !important;
        margin-left: -30px !important;
        margin-top: auto !important;
        margin-right: auto !important;
    }

    .page-id-1743 #portfolioFilter p {
        width: 95%;
        position: static;
        text-align: center;
        padding: 5px 0 0 !important;
        margin: 0 0 0 0 !important;
        background: none !important;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
}

@media (max-width: 320px) {
    .page-template-template-slideshow-php #sidebar {
       margin-top: 0 !important;
    }

    .page-template.page-template-product_sample-php .folioGrid {
        margin-top: 15px;
    }

    .page-id-1743 #content > div {
        padding: 0 0 65px;
        margin-left: 280px;
    }

    #content > div {
        padding: 0 49px 65px;
        margin-left: 280px;
    }

    .page-template.page-template-template-slideshow-php #bottomFooter {
        height: 90px;
        padding-top: 0;
        position: absolute !important;
        bottom: 150px !important;
    }

    #responsiveMenu .select-replace-cover {
        width: 150px !important;
        margin-left: 30px;
    }

    .support-phone {
        font-size: 11px;
    }

    #homeFooter {
        position: absolute !important;
        bottom: 73px !important;
    }

    .page-template-template-slideshow-php #homeFooter {
        position: absolute !important;
        bottom: 150px !important;
    }

    #portfolioFilter select {
        width: 30% !important;
    }

    #content {
        top: 160px !important;
    }

    .projectSlides {
        float: left;
        height: 447px;
        width: 600px;
        margin-top: -7px;
    }

    .projectContent h4 {
        color: #FFF;
        font-weight: 400;
        margin: 0 0 15px 0;
        font-size: 13px;
        line-height: 18px;
    }

    .nano {
        top:  20px;
        position: relative;
        min-height: 347px;
        height: auto;
        overflow: hidden;
        padding: 0;
    }

    .openedP article {
        top: 25px;
    }

    .mejs-overlay.mejs-layer.mejs-overlay-play,
    .mejs-overlay.mejs-layer,
    .mejs-poster.mejs-layer,
    .mejs-container,
    .mejs-mediaelement video {
        width: 100% !important;
        height: auto !important;
    }

    .mejs-overlay-button {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100px;
        height: 100px;
        margin: 30px 0 0 -50px;
        background: url(images/video/bigplay.svg) no-repeat;
    }

    .page-template.page-template-template-slideshow-php .galleryContent header {
        top: -200px !important;
        z-index: 999999 !important;
    }

    #slideList {
        z-index: 9 !important;
        bottom: 256px !important;
        right: -1px !important;
        position: absolute !important;
    }

    .page-id-43.page-template-template-contact-php #content > div {
        float: none;
        padding: 0;
        margin: 0;
        font-size: 0.8em !important;
    }

    .page-id-43 #contactDetails {
        width: 260px !important;
        margin: 20px auto 130px !important;
        padding-bottom: 10px;
    }

    .page-id-43 #contactDetails .wpcf7-list-item {
        width: 120px !important;
        display: inline-block;
        text-align: left;
        float: left;
    }

    .page-id-1745 #page {
        margin: -10px auto 55px;
        font-size: 11px;
        text-align: left !important;
    }

    .page-id-1745 #page center {
        text-align: left;
    }

    .portfolio.type-portfolio.status-publish.hentry.project {
        margin-top: 30px !important;
    }

    .videoportfolio.type-videoportfolio.status-publish.hentry.project {
        margin-top: 30px !important;
        left: 0 !important;
    }

    #portfolio {
        margin-top: 29px !important;

    }

    .openedP #portfolio {
        margin-top: 39px !important;
    }

    #portfolioFilter p {
        width: 90%;
        display: block;
        text-align: center;
        padding: 0 0 10px !important;
        margin: 0 12px 0 0 !important;
        float: right;
    }

    #portfolioFilter form {
        float: none !important;
        padding: 10px 0 0 0 !important;
        margin: 0 auto 0 !important;
    }

    #portfolioFilter {
        border: none !important;
        text-align: center;
        margin-top:  48px;
        padding: 0 !important;
    }

    .page-template.page-template-template-slideshow-php .galleryContent header {
        z-index: 999999 !important;
        width:320px;
    }

   .shortContent {
        display: block !important;
        width: 280px;
        position: relative !important;
        top: -200px !important;
        height: 160px !important;
   }
}
